<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}DashboardCreator{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="css/main.css">
        {% endblock %}
    </head>
    <body>
        {% block body %}

            {# track charts that are already in groups, so they can be excluded below #}
            {% set grouped_charts = [] %}
            {% for group in groups %}
                <h1 class="groupHeading">{{ group.getTitle() }}</h1>
                <div id='{{ group.getTitle() }}' class='{{ group.getOrientation() }}'>
                    {%  for chart_title in group.getChartTitles() %}
                        {%  set grouped_charts = grouped_charts|merge([chart_title]) %}
                        <div class='chartContainer'>
                            <canvas id='{{ chart_title }}'></canvas>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}

            {% for chart in charts  %}
                {% if chart.getTitle() not in grouped_charts %}
                <div class="chartContainer">
                    <canvas id='{{ chart.getTitle() }}'></canvas>
                </div>
                {% endif %}
            {% endfor %}

        {% endblock %}

        {% block javascripts %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

            {% for chart in charts %}
                {% if chart.getType() == 'bar_chart' %}
                    {% include 'bar.html.twig' with {'chart': chart} only %}
                {% elseif chart.getType() == 'line_chart' %}
                    {% include 'line.html.twig' with {'chart': chart} only %}
                {% elseif chart.getType() == 'pie_chart' %}
                    {% include 'pie.html.twig' with {'chart': chart} only %}
                {% endif %}
            {% endfor %}
        {% endblock %}
    </body>
</html>
